.page-Two {
  position: absolute;
  top: 100vh;
  height: 100vh;
  width: 100vw;
  background-color: #9997ca;
}

.page-TwoTop {
  height: 3vh;
  background-color: #7f7eb1;
}

.page-TwoHeader {
  height: 25vh;
  background-color: #8e8cc5;
  padding: 20px 60px;
}
.page-TwoHeader::before {
  content: "";
  background-color: #7f7eb1;
  width: 100vw;
  height: 1rem;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: block;
}

.selector {
  width: 50vw;
  background-color: #7f7eb1;
  text-align: center;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.btn_loadExample {
  padding: 20px 60px;
  outline: none;
  background-color: #3ea2d5;
  font-size: 100%;
  border-radius: 5px;
  box-shadow: 0 9px #95a5a6;
  transition: 0.25s all;
  color: #000029;
  border: none;
  font-family: "Lato", sans-serif;
}
.btn_loadExample:hover {
  background-color: #92cae8;
}
.btn_loadExample:active {
  background-color: #2ecc71;
  box-shadow: 0 5px #95a5a6;
  transform: translateY(4px);
}
