.page-TwoHeader {
  text-align: left;
  /* border: 1px solid red; */
  padding: 20px 60px;
}
.selector {
  padding: 2rem;
  border: 1px solid red;
  position: absolute;
  right: 0;
  top: 50vh;
}
.table thead {
  list-style: none;
  padding: 1rem;
  color: darkblue;
}
.btn_loadExample {
  padding: 20px 60px;
  outline: none;
  background-color: #3ea2d5;
  font-size: 100%;
  border-radius: 5px;
  box-shadow: 0 9px #95a5a6;
  transition: 0.25s all;
  color: #000029;
  border: none;
  font-family: "Lato", sans-serif;
}
.btn_loadExample:hover {
  background-color: #92cae8;
}
.btn_loadExample:active {
  background-color: #2ecc71;
  box-shadow: 0 5px #95a5a6;
  transform: translateY(4px);
}
