@import url("https://fonts.googleapis.com/css?family=Lato");
.page-Two {
  position: absolute;
  top: 100vh;
  height: 100vh;
  width: 100vw;
  background-color: #9997ca;
}

.page-TwoTop {
  height: 3vh;
  background-color: #7f7eb1;
}

.page-TwoHeader {
  height: 35vh;
  background-color: #8e8cc5;
  padding: 20px 60px;
  font-family: "Lato", sans-serif;
}
.page-TwoHeader::before {
  content: "";
  background-color: #7f7eb1;
  width: 100vw;
  height: 1rem;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: block;
}
.theForm {
  /* border: 1px solid red; */
  padding: 1rem 0 0 0;
}
.salary_display {
  width: 100vw;
  background-color: #7f7eb1;
  text-align: center;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.btn_loadExample {
  padding: 20px 60px;
  background-color: #3ea2d5;
  font-size: 100%;
  border-radius: 5px;
  box-shadow: 0 9px #95a5a6;
  transition: 0.25s all;
  color: #000029;
  border: none;
}
.btn_loadExample:hover {
  background-color: #92cae8;
}
.btn_loadExample:active {
  background-color: #2ecc71;
  box-shadow: 0 5px #95a5a6;
  transform: translateY(4px);
}
.Waiting {
  width: 100vw;
  text-align: center;
  /* border: 1px solid red; */
  padding-top: 10rem;
  font-size: 5vh;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
  color: white;
}
