@import url("https://fonts.googleapis.com/css?family=Lato:100,400");
.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  width: 100%;
  height: auto;
}

.App-header {
}

.App-title {
  font-size: 300%;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: darkblue;
}

.App-intro {
  font-family: "Lato", sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
